<%- include('templates/inicio')%>

<%- include('templates/navbar')%>

<link rel="stylesheet" href="/estatico/css/categoria.css">
</head>
<br /><br />
<body>
    <center>
        <!--Titulo-->
        <p class="h2-input">CATEGORÍAS</p>
    </center>
    
    <!--Mecanico-->
    <div class="row marginContent">
        <div class="col-8 categoria">
            <label>MÉCANICO</label>
        </div>
        <div class="col-4 mas">
            <a href="#"><label>Más</label></a>
        </div>
        <br />

        <!--Imagenes-->
        <div class="col-5 fontImg">
            <button type="button"><img src="/estatico/img/Categorias/llanta1.jpg" alt="404Imagen"></button>
        </div>
        <div class="col-2"></div>
        <div class="col-5 fontImg" >
            <button type="button"><img src="/estatico/img/Categorias/llanta2.jpg" alt="404Imagen"></button>
        </div>
    </div>

    <!--Comida-->
    <div class="row marginContent">
        <div class="col-8 categoria">
            <label>COMIDA</label>
        </div>
        <div class="col-4 mas">
            <a href="#"><label>Más</label></a>
        </div>
        <br />

        <!--Imagenes-->
        <div class="col-5 fontImg">
            <button type="button"><img src="/estatico/img/Categorias/comida1.jpg" alt="404Imagen"></button>
        </div>
        <div class="col-2"></div>
        <div class="col-5 fontImg" >
            <button type="button"><img src="/estatico/img/Categorias/comida2.jpg" alt="404Imagen"></button>
        </div>
    </div>

    <!--BUSTOS-->
    <div class="row marginContent">
        <div class="col-8 categoria">
            <label>BUSTOS</label>
        </div>
        <div class="col-4 mas">
            <a href="#"><label>Más</label></a>
        </div>
        <br />

        <!--Imagenes-->
        <div class="col-5 fontImg">
            <button type="button"><img src="/estatico/img/Categorias/figura1.jpg" alt="404Imagen"></button>
        </div>
        <div class="col-2"></div>
        <div class="col-5 fontImg" >
            <button type="button"><img src="/estatico/img/Categorias/figura2.jpg" alt="404Imagen"></button>
        </div>
    </div>

    <!--Tecnologia-->
    <div class="row marginContent">
        <div class="col-8 categoria">
            <label>TECNOLOGÍA</label>
        </div>
        <div class="col-4 mas">
            <a href="#"><label>Más</label></a>
        </div>
        <br />

        <!--Imagenes-->
        <div class="col-5 fontImg">
            <button type="button"><img src="/estatico/img/Categorias/tec1.jpg" alt="404Imagen"></button>
        </div>
        <div class="col-2"></div>
        <div class="col-5 fontImg" >
            <button type="button"><img src="/estatico/img/Categorias/tec2.jpg" alt="404Imagen"></button>
        </div>
    </div>
</body>
<%- include('templates/fin')%>
