<%- include('templates/inicio')%>

    <!--Styles-->
    <link rel="stylesheet" href="/estatico/css/index.css">
</head>
<body>
    <div class="row">
    <center>
    <!--Texto principal-->
        <h2>DISEÑOS</h2>
        <h2 style="color: yellow;">3D</h2>
        <br /><br />
    <!--Imagen principal-->
        <img src="/estatico/img/principal/TresDe.jpg"/>
    <!--Botones-->
        <br /><br /><br />
        <form action="/iniciarSesion">
            <div class="col-12">
                <button class="custom-btn btn-11">INICIAR SESIÓN<div class="dot"></div></button>
            </div>
        </form>
        <br />
        <form action="/crearSesion">
            <div class="col-12">
            <button class="btn-create">CREAR SESIÓN</button>
            </div>
        </form>
    </center> 
    </div>
</body>

<%- include('templates/fin')%>
